#form {
    height: 400px;
    width: 300px;
    margin-top: 150px;
    margin-left: 10px;

}
#main {
    margin-left: 360px;
    width: 1050px;
    margin-top: -460px;
}
#container{
    background-color: gray;
    height: 250px;
    border-radius: 2%;
}
#header{
    float: right;
    width: 1100px;
    margin-top: -510px;
    text-align: center;
    text-decoration: underline;
}